---
import Card from '../Card.astro'
import { LINKS, VALUES } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold text-foreground">Trabajemos juntos!</h1>
    </header>

    <div class="mt-4 flex flex-col">
      <h2 class="text-gray-500">Detalles de Contacto</h2>
      <a class="underline" href={`mailto:${LINKS.mail}`}>{VALUES.mail}</a>
      <p>{VALUES.address}</p>
    </div>

    <div class="mt-4 flex w-fit flex-col">
      <h2 class="text-gray-500">Redes Sociales</h2>
      <ul>
        <li>
          <a href={LINKS.linkedin} target="_blank">Linkedin</a>
        </li>
        <li>
          <a href={LINKS.instagram} target="_blank">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
